    <%- include('header', {changeBKColor: true}) -%>
    <div id="signup"></div>
    <script src="js/bundle.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <%- include('footer') -%>
