<%- include('header', {changeBKColor: true}) -%>
    <!-- Intro Header change intro bg -->
    <div id="profile"><%- initialMarkup %></div></div>
    <script src="js/profile.js"></script>
<%- include('footer') -%>