    <%- include('header') -%>
        <!-- Intro Header change intro bg -->
    <header class="intro-2">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="brand-heading-2">What's a CoffeeSwap?</h1>
                    </div>
                    </div>
                </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
            <h2 class="intro-text" style="margin-top:45px;margin-left:12%;margin-right:12%">Swapping coffee is simple. <br>Sign up, get a match, and then it begins:</h2>
                </br>
    </section>
        <section id="about" class="container content-section-2 text-center">
            <h3 class="intro-text" style="margin-top:35px;margin-left:18%;margin-right:18%">First, visit your favorite local coffee roaster or cafe, or find a new one.</h3>
                </br>
    </section>
        <section id="about" class="container content-section-3 text-center">
            <h3 class="intro-text" style="margin-top:25px;margin-left:18%;margin-right:18%">Second, while you're there, pick up 1/2lb (8oz) of whatever roast you think your match would like. We tell you their prefences ahead of time so there's no surprises. </h3>
                </br>
    </section>
        <section id="about" class="container content-section-4 text-center">
            <h3 class="intro-text" style="margin-top:25px;margin-left:18%;margin-right:18%">Third, pack it up into the box (and postage!) we provide and put it on your doorstep. 1/2lb packages will be picked up by USPS at no charge!</h3>
                </br>
    </section>
        <section id="about" class="container content-section-5 text-center">
            <h3 class="intro-text" style="margin-top:25px;margin-left:18%;margin-right:18%">Finally, since your match has been going through the same steps at the same time - your new swap box should arrive. Enjoy the new beans!</h3>
                </br>
    </section>
    <div class="row">
        <div class="col-lg-12 text-center" style="padding:20px">
        <a href="/get-started" class="btn btn-filleddefault btn-lg">Create an Account</a>
        </div>
        <div class="col-lg-12 text-center" style="padding:5px">
        <a href="/about" class="btn btn-filleddefault btn-md">Read the FAQ</a>
        </div>
        </div>

 <!---discover section 1  
<section id="discover" class="container">
    <div class="row text-center" style="margin-top:60px;margin-bottom:20px">
        <h2>The Process</h2>
    </div>
        <div class="row container text-center" style="padding:25px">
            <div class="col-lg-3">
            <img class="image-responsive" style="height:190px; width:130px;"src="img/Graphic_Step1.png"></img></div>
            <div class="col-lg-3">
            <img class="image-responsive" style="height:190px; width:130px;"src="img/Graphic_Step2.png"></img></div>
            <div class="col-lg-3">
            <img class="image-responsive" style="height:190px; width:130px;"src="img/Graphic_Step3.png"></img></div>
            <div class="col-lg-3">
            <img class="image-responsive" style="height:190px; width:130px;"src="img/Graphic_Step4.png"></img></div>
        </div>

    <!-- Map Section 
    <div id="map"></div>
-->
    <%- include('footer') -%>